<div class="wrapper">
  <p class="line-1">Hello, my name is</p>
  <h2 class="line-2">Francesco Lombardo.</h2>
  <p class="line-3">I'm an experienced</p>
  <h2 class="line-4">Cloud & Devops Engineer.</h2>
  <p class="line-5">I’ve a consolidated experience in designing and implementing scalable <strong>AWS cloud architectures</strong>. I've developed significant proficiency in <strong>Kubernetes</strong> orchestration, <strong>Terraform</strong> infrastructure-as-code deployment, and advanced <strong>DevOps</strong> methodologies.</p>
</div>
