.wrapper {
  @apply flex flex-col gap-3 items-center;
}

.contacts {
  @apply flex flex-row gap-7;

  svg {
    height: 28px;
    width: 28px;
  }
  :host-context(.dark) {
    /* for email and linkedin */
    svg:is(:hover) > #iconCarrier > path:first-of-type {
      fill: var(--color-secondary-dark-hover)
    }
    /* for github */
    svg:is(:hover) > #iconCarrier > #github > #container > #mask {
      fill: var(--color-secondary-dark-hover)
    }
  }
  :host-context(.light) {
    /* for email and linkedin */
    svg:is(:hover) > #iconCarrier > path:first-of-type {
      fill: var(--color-secondary-light-hover)
    }
    /* for github */
    svg:is(:hover) > #iconCarrier > #github > #container > #mask {
      fill: var(--color-secondary-light-hover)
    }
  }
}

.greatings {
  @apply text-xs;
}

